

    <main class="container">

        {{#if loggedIn}}

            <div class="row">
        <div class="col-8 mt-5 mx-auto border-success shadow bg-light" style="min-height: 150px" id="currentCity"> 
            <div class="row text-center">
                <div class="col-3 cityName"></div>
                <div class="col-1 icon"></div>
            </div>
            <div class="row">
                <div class="col temperature"></div>
            </div>
            <div class="row">
                <div class="col windSpeed"></div>
            </div>
            <div class="row">
                <div class="col humidity"></div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col mx-auto d-flex justify-content-center">
                <button class="btn btn-success add-button mx-auto my-3">Add Discussion</button>
            </div>
        </div>

        <div class="row">
            <div class="col discussion-handler">
            </div>
        </div>

        <div class="row">
            <div class="col-8 mx-auto">
            <form class="border mx-auto add-discussion-form bg-light border-warning" style="min-height: 0px">
                <div class="form-group my-3">
                    <label for="title" class="text-success">Title: </label>
                    <input class="form-input w-100" type="text" id="title">
                </div>
                <div class="form-group my-3">
                    <label for="hobby" class="text-success">Hobby: </label>
                    <input class="form-input w-100" type="text" id="hobby" />
                </div>
                <div class="form-gorup my-3">
                    <label for="disucssion" class="text-success">Discussion: </label>
                    <textarea id="discussion" class="form-control" row="2"></textarea>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button class="btn btn-success w-20 submit-button mb-2" type="submit">Submit</button>
                </div>
            </form>
            </div>
        </div>

        <div class="discussions">
            <div class="one-disucssion">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="card shadow border-success">
                            <div class="card-body">
                                <h5 class="card-title discussion-title text-success">Bees SUCK!</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Beeluvr8</h6>
                                <p class="card-text">According to all known laws of aviation, there is no way a bee should be able to fly. It's wings are too small to get its fat little body off the ground. The bee, of course, flies anyway, because bees don't care what humans think is impossible.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {{#each newData as |data| }}

    {{!-- <h1>{{data.hobby_topic}}</h1>  --}}
        <div class="one-disucssion">
            <div class="row">
                <div class="col-8 mx-auto">
                    <div class="card shadow border-success">
                        <div class="card-body">
                            <h5 class="card-title discussion-title text-success">{{data.discussion_title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{data.hobby_topic}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{data.User.username}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{format_time data.createdAt}}</h6>

                            <p class="card-text">{{data.text_field}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}

    {{else}}

    <div class="row">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title discussion-title">Please Login to view the disucssions</h5>
                </div>
            </div>
        </div>
    </div>


    {{/if}}

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>

    </main>